# Configuration file

general {
    # Whether buckets should remove finite fluids on the world when there's not enough fluid to make a full bucket. [default: false]
    B:bucketRemoveLowFluid=false

    # Create finite fluid Blocks for Fluids that have no default Block assigned. [default: true]
    B:createBlocksForBlocklessFluids=true

    # Whether to activate the pressure system. [default: true]
    B:doPressure=true

    # If fluids should use the dynamic fluid texture or not. Only has aesthetic effect. [default: true]
    B:dynamicOrStaticTexture=true

    # If water should evaporate. Only applies to water with the minimum level of fluid. [default: true]
    B:enableEvaporation=true

    # Enable finite water rain. [default: true]
    B:enableRain=true

    # Probability of water evaporation per tick. 1 = 100%, 2 = 50%, 100 = 1%. 100 = Default. [range: 1 ~ 2147483647, default: 10]
    I:evaporationChance=10

    # Whether flowing liquids should move players on creative mode. [default: true]
    B:flowingWaterShouldMoveCreativePlayer=true

    # If Fluids should break fragile blocks or not. [default: false]
    B:fluidsBreakFragileBlocks=true

    # List of fragile blocks. [default: [minecraft:glass], [minecraft:glass_pane], [minecraft:stained_glass_pane]]
    S:fragileBlocks <
        minecraft:glass
        minecraft:glass_pane
        minecraft:stained_glass_pane
     >

    # List of modded fluids' names that should spawn as infinite fluids. You can find the list of fluids inside your world inside: ï¿½/.minecraft/saves/YOUR_WORLD_NAME/dataï¿½  [default: ]
    S:infiniteModdedFluids <
     >

    # The amount of Ocean blocks that will turn into Still/Flowing blocks when you interact with them. 2048 = Original. 512 = Default. [range: 1 ~ 2147483647, default: 512]
    I:lakeLimit=512

    # Lava tick rate. 24 = Original, 30 = Default. [range: 0 ~ 2147483647, default: 30]
    I:lavaTickRate=30

    # Allow logDebug prints for special info about registerings. [default: false]
    B:logDebug=false

    # Max number of finite fluid calculations every tick. A cap to (try) avoid holding the server. [range: 1 ~ 2147483647, default: 1024]
    I:maxCalc=1024

    # If fluids should have the full block height or not. Only has aesthetic effect. [default: true]
    B:maxOrNormalFluidHeight=true

    # Maximum distance between a flowing liquid and a player to decide whether postpone or update now the block at the current tick when currentCalc is starting to get closer to maxCalc. [range: 1 ~ 2147483647, default: 1024]
    I:playerMaxDistanceToCalc=1024

    # The maximum tries we will check for blocks to apply pressure. [range: 0 ~ 2147483647, default: 256]
    I:pressureLimit=256

    # A proportional modifier to the probability of a water drop to fall per tick when raining. values bigger than 24 won't increase the rain amount. It can't be zero, but 0.1 is valid. [range: 0.1 ~ 24.0, default: 1.0]
    S:rainAmount=1.0

    # Whether fluids could go down in the 4 cardinal positions in 1 movement or not (it makes them appear to leak below cardinal edges). [default: false]
    B:shouldBlocksMoveSidewayDownwards=false

    # Whether big fluid masses (lakes, oceans) should act as infinite fluid sources. It also works as a security switch to deactivate Ocean Blocks (if you find a finite fluid mass eating your world you better use /rffkillswitch). [default: true]
    B:shouldFluidsBeInfinite=true

    # Whether fluids should have random ticks. [default: true]
    B:shouldTickRandomly=true

    # Allow visualDebug content. Only for testing purposes. [default: false]
    B:visualDebug=false

    # whether water can become ice. [default: true]
    B:waterCanFreeze=true

    # The amount of light the water will remove when it passes through it. 3 = Vanilla, 1 = Default. [range: 0 ~ 2147483647, default: 1]
    I:waterLightOpacity=1

    # Water tick rate. 4 = Original, 8 = Default. [range: 0 ~ 2147483647, default: 8]
    I:waterTickRate=8
}


