# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:Blaze=false
    B:CaveSpider=true
    B:Creeper=false
    B:"Defiled Zombie"=false
    B:ElderGuardian=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:LavaSlime=false
    B:Necromancer=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spider=true
    B:Stray=true
    B:Vex=false
    B:VindicationIllager=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:bandit1=false
    B:blind_zombie=false
    B:bloated_zombie=false
    B:burnt_zombie=false
    B:crackedhusk=false
    B:crackedpigzombie=false
    B:crackedzombie=false
    B:creeper_boss=false
    B:deathclaw=false
    B:demoman=false
    B:engineer=false
    B:evolved_creeper=false
    B:evolved_enderman=false
    B:evolved_skeleton=true
    B:evolved_skeleton_boss=false
    B:evolved_spider=true
    B:evolved_witch=true
    B:evolved_zombie=true
    B:feral_zombie=false
    B:frigid_hunter=false
    B:frostbitten_worker=false
    B:frozen_lumberjack=false
    B:gassy=false
    B:hazmat_zombie=false
    B:heavy=false
    B:hhh=false
    B:infected_survivor=false
    B:juicer=false
    B:medic=false
    B:merasmus=false
    B:mobBoat=false
    B:molded=false
    B:monoculus=false
    B:necromorph=false
    B:plagued_nurse=false
    B:pvj_banshee=false
    B:pvj_ghost=false
    B:pvj_goon=false
    B:pvj_icecube=false
    B:pvj_shade=false
    B:pvj_skeletal_knight=true
    B:pvj_watcher=false
    B:pyro=false
    B:reanimated_corpse=false
    B:sampleMissionGiver=false
    B:scout=false
    B:sludgeling=false
    B:sniper=false
    B:soldier=false
    B:spider_queen=false
    B:spider_zombie=false
    B:spiderstpo.better_cave_spider=false
    B:spiderstpo.better_spider=false
    B:spy=false
    B:srparasites.ada_arachnida=false
    B:srparasites.ada_bolster=false
    B:srparasites.ada_longarms=false
    B:srparasites.ada_manducater=false
    B:srparasites.ada_reeker=false
    B:srparasites.ada_summoner=false
    B:srparasites.ada_yelloweye=false
    B:srparasites.anc_dreadnaut=false
    B:srparasites.anc_dreadnaut_ten=false
    B:srparasites.anc_overlord=false
    B:srparasites.anc_pod=false
    B:srparasites.beckon_si=false
    B:srparasites.beckon_sii=false
    B:srparasites.beckon_siii=false
    B:srparasites.beckon_siv=false
    B:srparasites.biomass=false
    B:srparasites.bogle=false
    B:srparasites.bomber_heavy=false
    B:srparasites.bomber_light=false
    B:srparasites.buglin=false
    B:srparasites.carrier_colony=false
    B:srparasites.carrier_flying=false
    B:srparasites.carrier_heavy=false
    B:srparasites.crux=false
    B:srparasites.dispatcher_si=false
    B:srparasites.dispatcher_sii=false
    B:srparasites.dispatcher_siii=false
    B:srparasites.dispatcher_siv=false
    B:srparasites.dispatcherten=false
    B:srparasites.grunt=false
    B:srparasites.haunter=false
    B:srparasites.heed=false
    B:srparasites.host=false
    B:srparasites.hostii=false
    B:srparasites.incompleteform_medium=false
    B:srparasites.incompleteform_small=false
    B:srparasites.kyphosis=false
    B:srparasites.mangler=false
    B:srparasites.marauder=false
    B:srparasites.monarch=false
    B:srparasites.movingflesh=false
    B:srparasites.overseer=false
    B:srparasites.pri_arachnida=false
    B:srparasites.pri_bolster=false
    B:srparasites.pri_devourer=false
    B:srparasites.pri_longarms=false
    B:srparasites.pri_manducater=false
    B:srparasites.pri_reeker=false
    B:srparasites.pri_summoner=false
    B:srparasites.pri_yelloweye=false
    B:srparasites.rupter=false
    B:srparasites.seizer=false
    B:srparasites.sentry=false
    B:srparasites.sim_adventurer=false
    B:srparasites.sim_adventurerhead=false
    B:srparasites.sim_bear=false
    B:srparasites.sim_bigspider=false
    B:srparasites.sim_cow=false
    B:srparasites.sim_cowhead=false
    B:srparasites.sim_dragone=false
    B:srparasites.sim_dragonehead=false
    B:srparasites.sim_enderman=false
    B:srparasites.sim_endermanhead=false
    B:srparasites.sim_horse=false
    B:srparasites.sim_horsehead=false
    B:srparasites.sim_human=false
    B:srparasites.sim_humanhead=false
    B:srparasites.sim_pig=false
    B:srparasites.sim_pighead=false
    B:srparasites.sim_sheep=false
    B:srparasites.sim_sheephead=false
    B:srparasites.sim_villager=false
    B:srparasites.sim_villagerhead=false
    B:srparasites.sim_wolf=false
    B:srparasites.sim_wolfhead=false
    B:srparasites.succor=false
    B:srparasites.tendril=false
    B:srparasites.thrall=false
    B:srparasites.vigilante=false
    B:srparasites.warden=false
    B:srparasites.wave=false
    B:srparasites.worker=false
    B:srparasites.wraith=false
    B:tconstruct.blueslime=false
    B:terrorist=false
    B:tornzombie=false
    B:turret=false
    B:turretupgraded=false
    B:twilightforest.adherent=false
    B:twilightforest.armored_giant=false
    B:twilightforest.blockchain_goblin=false
    B:twilightforest.boggard=false
    B:twilightforest.death_tome=false
    B:twilightforest.fire_beetle=false
    B:twilightforest.giant_miner=false
    B:twilightforest.goblin_knight_lower=false
    B:twilightforest.goblin_knight_upper=false
    B:twilightforest.harbinger_cube=false
    B:twilightforest.hedge_spider=true
    B:twilightforest.helmet_crab=false
    B:twilightforest.hostile_wolf=false
    B:twilightforest.hydra=false
    B:twilightforest.ice_crystal=false
    B:twilightforest.king_spider=true
    B:twilightforest.knight_phantom=false
    B:twilightforest.kobold=false
    B:twilightforest.lich=false
    B:twilightforest.lich_minion=true
    B:twilightforest.maze_slime=false
    B:twilightforest.mini_ghast=false
    B:twilightforest.minoshroom=false
    B:twilightforest.minotaur=false
    B:twilightforest.mist_wolf=false
    B:twilightforest.mosquito_swarm=false
    B:twilightforest.naga=false
    B:twilightforest.pinch_beetle=false
    B:twilightforest.redcap=false
    B:twilightforest.redcap_sapper=false
    B:twilightforest.rising_zombie=true
    B:twilightforest.roving_cube=false
    B:twilightforest.skeleton_druid=true
    B:twilightforest.slime_beetle=false
    B:twilightforest.snow_guardian=false
    B:twilightforest.snow_queen=false
    B:twilightforest.stable_ice_core=false
    B:twilightforest.swarm_spider=true
    B:twilightforest.tower_broodling=true
    B:twilightforest.tower_ghast=false
    B:twilightforest.tower_golem=false
    B:twilightforest.tower_termite=false
    B:twilightforest.troll=false
    B:twilightforest.unstable_ice_core=false
    B:twilightforest.ur_ghast=false
    B:twilightforest.winter_wolf=false
    B:twilightforest.wraith=false
    B:twilightforest.yeti=false
    B:twilightforest.yeti_alpha=false
    B:tyke=false
    B:wasp=false
    B:zombie=false
    B:zombie1=true
    B:zombie10=true
    B:zombie11=true
    B:zombie12=true
    B:zombie13=true
    B:zombie14=true
    B:zombie15=true
    B:zombie16=true
    B:zombie17=true
    B:zombie18=true
    B:zombie19=true
    B:zombie2=true
    B:zombie20=true
    B:zombie21=true
    B:zombie22=true
    B:zombie23=true
    B:zombie24=true
    B:zombie25=true
    B:zombie26=true
    B:zombie27=true
    B:zombie28=true
    B:zombie29=true
    B:zombie3=true
    B:zombie30=true
    B:zombie31=true
    B:zombie32=true
    B:zombie4=true
    B:zombie5=true
    B:zombie6=true
    B:zombie7=true
    B:zombie8=true
    B:zombie9=true
    B:zombieBlistered=false
    B:zombieRipper=false
    B:zombie_crawler=false
    B:zombie_miner=false
    B:zombie_pig=false
    B:zombie_policeman=false
    B:zombie_soldier=false
    B:zombie_wolf=false
}


